You want weather data for any city in the whole world.

London temp,
Paris pressure,
Arizona winds

We cannot use our phone apps, or Google

We can use a publicly available weather API

We can fetch data - city - weather data

[openweathermap](https://openweathermap.org)

In [4]:
api_key = "27ff86e7f8f78a76911be517dd17a7c0"

In [5]:
import requests
import pandas as pd

In [6]:
# taking input from a user
city = input("Enter the city name: ")
city

'Ambala'

In [7]:
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"
url

'http://api.openweathermap.org/data/2.5/weather?q=Ambala&appid=27ff86e7f8f78a76911be517dd17a7c0&units=metric'

In [ ]:
# to check whether the URL is correct and it is responding or not

response = requests.get(url)
print(response.status_code)

if response.status_code == 200:
    print("Success! The URL is correct and the API is responding.")
    data = response.json()

else:
    print("City not found. Please check the name and try again.")
    exit()

200
Success! The URL is correct and the API is responding.

<h6>200 - successful response </br>
404 - not found </br>
400 - bad request

In [11]:
data

{'coord': {'lon': 76.7808, 'lat': 30.3783},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 33.38,
  'feels_like': 30.93,
  'temp_min': 33.38,
  'temp_max': 33.38,
  'pressure': 1002,
  'humidity': 10,
  'sea_level': 1002,
  'grnd_level': 971},
 'visibility': 10000,
 'wind': {'speed': 2.87, 'deg': 233, 'gust': 2.79},
 'clouds': {'all': 0},
 'dt': 1745852140,
 'sys': {'country': 'IN', 'sunrise': 1745799136, 'sunset': 1745846895},
 'timezone': 19800,
 'id': 1278860,
 'name': 'Ambāla',
 'cod': 200}

In [14]:
# Extracting relevant data from the response
main_data = data['main']
temperature = main_data['temp']
pressure = main_data['pressure']
humidity = main_data['humidity']
timestamp = data['dt']

# Convert timestamp to datetime
import datetime
dt_object = datetime.datetime.fromtimestamp(timestamp)

print("City:",city)
print("Date and Time:", dt_object.strftime("%Y-%m-%d %H:%M:%S"))

print(f"Temperature: {temperature}°C")
print(f"Pressure: {pressure} hPa")  
print(f"Humidity: {humidity}%")

City: Ambala
Date and Time: 2025-04-28 20:25:40
Temperature: 33.38°C
Pressure: 1002 hPa
Humidity: 10%

In [16]:
weather_data = {
    'City': city,
    'Date and Time': dt_object.strftime("%Y-%m-%d %H:%M:%S"),
    'Temperature (°C)': temperature,
    'Pressure (hPa)': pressure,
    'Humidity (%)': humidity
}

In [17]:
df1 = pd.DataFrame([weather_data])

df1

     City        Date and Time  Temperature (°C)  Pressure (hPa)  Humidity (%)
0  Ambala  2025-04-28 20:25:40             33.38            1002            10

In [22]:
# if you want to get data of 5 cities at once, what will you do?

# use a for loop to iterate over a list of cities and store the data in a list of dictionaries
cities = ["London", "New York", "Srinagar", "Paris", "Berlin", "Ambala", "Delhi", "Naraingarh", "Mumbai", "Tokyo", "Beijing", "Seoul", "Bangkok", "Singapore", "Dubai", "Cairo"]

weather_data_list = []

for city in cities:
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"
    
    response = requests.get(url)
    print(response.status_code)

    if response.status_code == 200:
        data = response.json()

    else:
        print("City not found. Please check the name and try again.")
        exit()

    # Extracting relevant data from the response
    main_data = data['main']
    temperature = main_data['temp']
    pressure = main_data['pressure']
    humidity = main_data['humidity']
    timestamp = data['dt']

    # Convert timestamp to datetime
    import datetime
    dt_object = datetime.datetime.fromtimestamp(timestamp)
        
    
    weather_data = {
        'City': city,
        'Date and Time': dt_object.strftime("%Y-%m-%d %H:%M:%S"),
        'Temperature (°C)': temperature,
        'Pressure (hPa)': pressure,
        'Humidity (%)': humidity
    }
    weather_data_list.append(weather_data)

df = pd.DataFrame(weather_data_list)
df

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

,City,Date and Time,Temperature (°C),Pressure (hPa),Humidity (%)
0,London,2025-04-28 20:35:17,21.47,1025,43
1,New York,2025-04-28 20:35:00,20.15,1026,32
2,Srinagar,2025-04-28 20:45:42,16.41,1014,31
3,Paris,2025-04-28 20:38:10,23.36,1024,41
4,Berlin,2025-04-28 20:46:13,21.59,1024,26
5,Ambala,2025-04-28 20:41:56,33.38,1002,10
6,Delhi,2025-04-28 20:41:33,38.34,1002,7
7,Naraingarh,2025-04-28 20:46:13,30.80,1002,13
8,Mumbai,2025-04-28 20:42:25,29.10,1007,74
9,Tokyo,2025-04-28 20:41:21,15.05,1000,80
10,Beijing,2025-04-28 20:31:53,16.56,1012,23
11,Seoul,2025-04-28 20:34:18,13.91,1012,23
12,Bangkok,2025-04-28 20:40:07,28.99,1009,61
13,Singapore,2025-04-28 20:40:51,28.66,1010,80
14,Dubai,2025-04-28 20:39:58,36.15,1004,22
15,Cairo,2025-04-28 20:38:27,30.22,1010,19

<h5> How can you store data for Ambala city over a day (6 hours)
<h5> Data records, should be saved after 10-15 minutes [Refresh Rate/ Frequency]

<h3> Take 3 cities, collect data for all three for a given amount of time

In [ ]:
# if you want to get data of 5 cities at once, what will you do?

# use a for loop to iterate over a list of cities and store the data in a list of dictionaries
city = "Ambala"

weather_data_list = []

for city in cities:
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"
    
    response = requests.get(url)
    print(response.status_code)

    if response.status_code == 200:
        data = response.json()

    else:
        print("City not found. Please check the name and try again.")
        exit()

    # Extracting relevant data from the response
    main_data = data['main']
    temperature = main_data['temp']
    pressure = main_data['pressure']
    humidity = main_data['humidity']
    timestamp = data['dt']

    # Convert timestamp to datetime
    import datetime
    dt_object = datetime.datetime.fromtimestamp(timestamp)
        
    
    weather_data = {
        'City': city,
        'Date and Time': dt_object.strftime("%Y-%m-%d %H:%M:%S"),
        'Temperature (°C)': temperature,
        'Pressure (hPa)': pressure,
        'Humidity (%)': humidity
    }
    weather_data_list.append(weather_data)

df = pd.DataFrame(weather_data_list)
df

In [19]:
import pandas as pd

df_a = pd.DataFrame({
    'Name': ['idrees', 'Ali', 'Ahmed', 'Sara'],
    'Age': [23, 25, 22, 24]
})
df_a

     Name  Age
0  idrees   23
1     Ali   25
2   Ahmed   22
3    Sara   24

In [20]:
df_b = pd.DataFrame({
    'Name': ['Kirti', 'Deepika', 'Suhana', 'Neha'],
    'Age': [23, 25, 22, 24]
})
df_b

      Name  Age
0    Kirti   23
1  Deepika   25
2   Suhana   22
3     Neha   24

In [21]:
df_c = pd.concat([df_a,df_b])
df_c

      Name  Age
0   idrees   23
1      Ali   25
2    Ahmed   22
3     Sara   24
0    Kirti   23
1  Deepika   25
2   Suhana   22
3     Neha   24

In [ ]:
weather_data = {
        "City": data["name"],
        "Temperature (°C)": data["main"]["temp"],
        "Humidity (%)": data["main"]["humidity"],
        "Weather": data["weather"][0]["description"]
    }
    df = pd.DataFrame([weather_data])
    print(df)