In [8]:
# python - csv

header = ['name', 'age', 'city'] # list of column names

# format - schema - name age city

data = [
    ['Alice', 30, 'New York'],
    ['Bob', 25, 'Los Angeles'],
    ['Charlie', 35, 'Chicago'],
    ['David', 28, 'Houston'],
    ['Eve', 22, 'Phoenix'],
    ['Frank', 40, 'Philadelphia'],
    ['Grace', 29, 'San Francisco'],
    ['Hannah', 31, 'Seattle'],
    ['Ian', 27, 'Boston'],
    ['Judy', 33, 'Miami'],
    ['Kevin', 26, 'Dallas'],
    ['Laura', 32, 'Atlanta'],
    ['Mike', 24, 'Denver'],
    ['Nina', 38, 'San Diego'],
    ['Oscar', 36, 'Portland'],
    ['Paula', 23, 'Austin'],
    ['Quentin', 34, 'Baltimore'],
    ['Rachel', 30, 'Charlotte'],
    ['Steve', 29, 'Detroit'],
    ['Tina', 28, 'Indianapolis'],
    ['Uma', 37, 'San Antonio']
    ]

In [14]:
type(data)

import numpy as np
# numpy - array - 2D array - matrix
# structured data - tablular data - rows and columns

np.shape(data)
# shape - 5 rows, 3 columns

(18,)

In [10]:
import csv

# create a CSV file - write data to it

with open('people.csv', mode='w', newline='') as file:
    
    writer = csv.writer(file)  # create a CSV writer object

    writer.writerow(header)  # write the header row

    for row in data:
        writer.writerow(row)  # write each data row to the CSV file

print("CSV file created successfully!")

CSV file created successfully!

In [13]:
data = [
    {'name': 'Alice', 'age': 30, 'city': 'New York'},
    {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'},
    {'name': 'David', 'age': 28, 'city': 'Houston'},
    {'name': 'Eve', 'age': 22, 'city': 'Phoenix'},
    {'name': 'Frank', 'age': 40, 'city': 'Philadelphia'},
    {'name': 'Grace', 'age': 29, 'city': 'San Francisco'},
    {'name': 'Hannah', 'age': 31, 'city': 'Seattle'},
    {'name': 'Ian', 'age': 27, 'city': 'Boston'},
    {'name': 'Judy', 'age': 33, 'city': 'Miami'},
    {'name': 'Kevin', 'age': 26, 'city': 'Dallas'},
    {'name': 'Laura', 'age': 32, 'city': 'Atlanta'},
    {'name': 'Mike', 'age': 24, 'city': 'Denver'},
    {'name': 'Nina', 'age': 38, 'city': 'San Diego'},
    {'name': 'Oscar', 'age': 36, 'city': 'Portland'},
    {'name': 'Paula', 'age': 23, 'city': 'Austin'},
    {'name': 'Quentin', 'age': 34, 'city': 'Baltimore'},
    {'name': 'Rachel', 'age': 30, 'city': "Charlotte"},
]

In [ ]:
import json

# create a JSON file - write data to it
with open('people.json', 'w') as file:
    json.dump(data, file, indent=4)  # write the data to the JSON file
    
print("JSON file created successfully!")

JSON file created successfully!

In [17]:
# SQLite - database - create a table - insert data - query data 

import sqlite3

In [ ]:
# postgresql - database - create a table - insert data - query data

import psycopg2