You want weather data for any city in the whole world.

London temp,
Paris pressure,
Arizona winds

We cannot use our phone apps, or Google

We can use a publicly available weather API

We can fetch data - city - weather data

[openweathermap](https://openweathermap.org)

In [1]:
api_key = "27ff86e7f8f78a76911be517dd17a7c0"

In [2]:
import requests
import pandas as pd

In [46]:
city = input("Enter the city name: ")
city

'London'

In [47]:
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

In [48]:
response = requests.get(url)
print(response.status_code)

if response.status_code == 200:
    data = response.json()

else:
    print("City not found. Please check the name and try again.")
    exit()

200

In [49]:
# Extracting relevant data from the response
main_data = data['main']
temperature = main_data['temp']
pressure = main_data['pressure']
humidity = main_data['humidity']
timestamp = data['dt']

# Convert timestamp to datetime
import datetime
dt_object = datetime.datetime.fromtimestamp(timestamp)

print("City:",city)
print("Date and Time:", dt_object.strftime("%Y-%m-%d %H:%M:%S"))
print(f"Temperature: {temperature}°C")
print(f"Pressure: {pressure} hPa")  
print(f"Humidity: {humidity}%")

City: London
Date and Time: 2025-04-25 21:34:14
Temperature: 14.74°C
Pressure: 1021 hPa
Humidity: 65%

In [50]:
weather_data = {
    'City': city,
    'Date and Time': dt_object.strftime("%Y-%m-%d %H:%M:%S"),
    'Temperature (°C)': temperature,
    'Pressure (hPa)': pressure,
    'Humidity (%)': humidity
}

In [51]:
df1 = pd.DataFrame([weather_data])

df1

     City        Date and Time  Temperature (°C)  Pressure (hPa)  Humidity (%)
0  London  2025-04-25 21:34:14             14.74            1021            65

In [64]:
# if you want to get data of 5 cities at once, what will you do?

# use a for loop to iterate over a list of cities and store the data in a list of dictionaries
cities = ["London", "New York", "Srinagar", "Paris", "Berlin", "Ambala", "Delhi", "Naraingarh", "Mumbai", "Tokyo", "Beijing", "Seoul", "Bangkok", "Singapore", "Dubai", "Cairo"]

weather_data_list = []

for city in cities:
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"
    
    response = requests.get(url)
    print(response.status_code)

    if response.status_code == 200:
        data = response.json()

    else:
        print("City not found. Please check the name and try again.")
        exit()

    # Extracting relevant data from the response
    main_data = data['main']
    temperature = main_data['temp']
    pressure = main_data['pressure']
    humidity = main_data['humidity']
    timestamp = data['dt']

    # Convert timestamp to datetime
    import datetime
    dt_object = datetime.datetime.fromtimestamp(timestamp)
        
    
    weather_data = {
        'City': city,
        'Date and Time': dt_object.strftime("%Y-%m-%d %H:%M:%S"),
        'Temperature (°C)': temperature,
        'Pressure (hPa)': pressure,
        'Humidity (%)': humidity
    }
    weather_data_list.append(weather_data)

df = pd.DataFrame(weather_data_list)
df

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

,City,Date and Time,Temperature (°C),Pressure (hPa),Humidity (%)
0,London,2025-04-25 21:54:56,14.63,1021,65
1,New York,2025-04-25 21:56:02,23.01,1023,44
2,Srinagar,2025-04-25 21:55:00,15.55,1015,39
3,Paris,2025-04-25 21:58:27,15.80,1019,67
4,Berlin,2025-04-25 21:55:51,16.64,1019,39
5,Ambala,2025-04-25 21:59:18,30.55,1003,8
6,Delhi,2025-04-25 21:53:48,33.05,1003,16
7,Naraingarh,2025-04-25 22:01:39,29.85,1003,8
8,Mumbai,2025-04-25 22:00:12,28.55,1009,71
9,Tokyo,2025-04-25 21:58:14,16.36,1011,53
10,Beijing,2025-04-25 22:01:08,14.94,1012,26
11,Seoul,2025-04-25 21:52:11,7.76,1018,57
12,Bangkok,2025-04-25 22:01:08,30.94,1008,70
13,Singapore,2025-04-25 21:59:00,27.34,1010,86
14,Dubai,2025-04-25 21:56:31,29.96,1006,62
15,Cairo,2025-04-25 21:57:27,25.42,1010,38

### How can you store data for Ambala city over a day (6 hours)
### Data records, should be saved after 10-15 minutes [Refresh Rate/ Frequency]

In [30]:
data

{'coord': {'lon': -0.1257, 'lat': 51.5085},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 14.85,
  'feels_like': 14.09,
  'temp_min': 13.86,
  'temp_max': 16.54,
  'pressure': 1021,
  'humidity': 65,
  'sea_level': 1021,
  'grnd_level': 1017},
 'visibility': 10000,
 'wind': {'speed': 4.63, 'deg': 80},
 'clouds': {'all': 75},
 'dt': 1745594751,
 'sys': {'type': 2,
  'id': 2091269,
  'country': 'GB',
  'sunrise': 1745556218,
  'sunset': 1745608377},
 'timezone': 3600,
 'id': 2643743,
 'name': 'London',
 'cod': 200}

In [ ]:
weather_data = {
        "City": data["name"],
        "Temperature (°C)": data["main"]["temp"],
        "Humidity (%)": data["main"]["humidity"],
        "Weather": data["weather"][0]["description"]
    }
    df = pd.DataFrame([weather_data])
    print(df)